<!-- 페이지 로딩속도를 높이기위해 .js파일은 밑쪽에 -->

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!-- src 경로는 절대경로로 입력할것 -->
<script src="/js/app/index.js"></script>
</body>
</html>